'atom-text-editor':
  'ctrl-f9': 'bib-finder:cite'

'.bib-finder atom-text-editor[mini]':
  'enter'     : 'bib-finder:insert-name'
  'alt-enter' : 'bib-finder:insert-cite'
  'ctrl-enter': 'bib-finder:insert-opti'
