'atom-text-editor':
  'f9'     : 'bib-finder:cite'
  'ctrl-f9': 'bib-finder:open-source-1'

'.bib-finder atom-text-editor[mini]':
  'enter'     : 'select-list:name'
  'alt-enter' : 'select-list:cite'
  'ctrl-enter': 'select-list:opti'
  'f5'        : 'bib-finder:update'
