@import "ui-variables";

.bib-finder ol.list-group li.two-lines .secondary-line {
    white-space: pre-wrap;
}

.bib-finder > span {
  color: @text-color-subtle;
}

.bib-finder .empty-message {
  color: @text-color-error;
  margin-top: 10px;
}

.bib-finder .keystroke {
  border: solid 1px;
  padding: .2em .4em;
  border-radius: 4px;
}

.bib-finder .icon-line:before {
  margin-right: 5px;
}
